:root {
    --white: hsl(0, 0%, 100%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --cyan-400-rgb: 0, 255, 247;
    --space: 0.5rem;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.gap-1 {
    gap: calc(var(--space) * 1);
}

.gap-2 {
    gap: calc(var(--space) * 2)
}

.object-fit-contain {
    object-fit: contain;
}

.fs-body {
    font-size: 18px;
}

.fw-300 {
    font-weight: 300;
}

.fw-600 {
    font-weight: 600;
}

.bg-blue-950 {
    background-color: var(--blue-950);
}

.bg-blue-900 {
    background-color: var(--blue-900);
}

.bg-cyan-400 {
    background-color: var(--cyan-400);
}

.blue-500 {
    color: var(--blue-500);
}

.cyan-400 {
    color: var(--cyan-400);
}

.white {
    color: var(--white);
}
